nav{
    color: white;
    background-color: darkgreen;
    padding: 10px;
}
li{
    display: inline;
}
h1,ul{
    display: inline;
}
ul{
    padding-left: 70%;
    cursor: pointer;
    color: black;
}
li:hover{
    color: white;
}
.search{
    text-align: center;
    input{
        width: 80%;
        height: 30px;
        margin: 20px;
        border-width: 4px;
        border-color: darkgreen;
    }
}
.catogories{
    p{
        font-size: 50px;
        text-align: center;
        font-style: oblique;
        color: darkgreen;
    }
    li{
        display: block;
        text-align: center;
        font-size: 30px;
    }
}
.page1img{
    img{
        width: 300px;
        height: 250px;
        padding-left: 20%;
        padding-top: 60px;
    }
    p{
        text-align: center;
        color: darkgreen;
        font-style: oblique;
        font-size: 30px;
    }
}
.contact{
    text-align: center;
        font-size: 50px;
        background-color: darkgreen;
        color: white;
        .line2{
            font-size: 20px;
        }
    }
.links{
ul{
        text-align: center;
        padding-left: 40%;
    
    }
    li{
        display: block;
    }
}
.end{
    font-size: 25px;
    text-align: center;
    font-style: oblique;
    color: darkgreen;
}
    

